/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-decor-element: #ff0070;
  --logo-text-color: #db00ff;
  --logo-shadow-color: #ff0070;
  --bg-color-article-title: #ff0070;
  --text-article: #000028;
  --text-paragraph: #f1b2ce;
  --text-shadow: #ff0070;
  --content__title-color: #ff0070;
  --button-color: #ff0070;
  --button-border-hover: rgba(255, 0, 112, 0.4);
  --outline-a: #f1b2ce;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.decor-element {
  position: relative;
}

.decor-element::before {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--rec-decor-element);
  border-block-start: 1px solid var(--rec-decor-element);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decor-element::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--rec-decor-element);
  border-block-end: 1px solid var(--rec-decor-element);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-decor {
  display: inline-flex;
  position: absolute;
  z-index: -1;
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  visibility: visible;
  gap: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--rec-decor-element);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.rec-decor::after {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--rec-decor-element);
  background: var(--rec-decor-element);
  width: 9px;
  height: 9px;
  margin-block-start: 8px;
  margin-inline-end: 8px;
}
